.project-list-design-wrapper{
    background-color: #efefef4d;
    padding: 50px 0;
}

.project-list-design-wrapper h2 {
    font-weight: 500;
    font-size: 35px;
    max-width: 1400px;
    margin: auto;
    padding: 20px;
}