.project-list-dev-coop-wrapper{
    padding: 50px 20px 80px 20px;
    max-width: 1400px;
    margin: auto;
}

.project-list-dev-coop-wrapper h2 {
    font-weight: 500;
    font-size: 30px;
    padding: 10px;
}

.slick-next:before{
    content: url(../../../public/images/chevron-right.svg);
}

.slick-prev:before {
    content: url(../../../public/images/chevron-left.svg);
}

.slick-next{
    right: -15px;
}

.slick-prev{
    left: -15px
}