footer{
    background-color: #000000eb;
    position: relative;
}

.footer-inner{
    max-width: 1400px;
    margin: auto;
    padding: 20px;
}

.footer-inner a {
    color: white;
    display: inline-flex;
    font-weight: 300;
}

.footer-inner svg {
    margin-right: 10px;
}

footer .injected-svg path {
    color: white;
}

.contact-div{
    margin: 5px 0;
}

.contact-div a{
    font-weight: 200;
}

.code-link p{
    color: white;
    font-weight: 200;
}

.arrow-top{
    cursor: pointer;
    position: absolute;
    top: 22px;
    right: 30px;
    transition: all .2s ease-in;
}

.arrow-top svg{
    fill: white;
    height: 40px;
}

.arrow-top:hover{
    transform: scale3d(1.1, 1.1, 1.1);
}